{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">Settings</h1>
    </div>
    <div id="flashes" class="row"></div>
    {{template "flashes" .Flashes}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="mainSettings"><a href="#mainSettings" aria-controls="mainSettings" role="tab"
                data-toggle="tab">Account Settings</a></li>
        <li role="presentation"><a href="#twoFactorSettings" aria-controls="twoFactorSettings" role="tab" data-toggle="tab">Two-Factor Authentication</a></li>
        <li role="uiSettings"><a href="#uiSettings" aria-controls="uiSettings" role="tab" data-toggle="tab">UI
                Settings</a></li>
        <li role="reportingSettings"><a href="#reportingSettings" aria-controls="reportingSettings" role="tab" id="reporttab"
            data-toggle="tab">Reporting Settings</a></li>
    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mainSettings">
            <br />
            {{if .ModifySystem }}
            <div class="row">
                <label class="col-sm-2 control-label form-label">Gophish version</label>
                <div class="col-md-6">
                    <label class="form-label">{{.Version}}</label>
                </div>
            </div>
            <br />
            {{end}}
            <div class="row">
                <label for="api_key" class="col-sm-2 control-label form-label">API Key:</label>
                <div class="col-md-6">
                    <input type="text" id="api_key" onclick="this.select();" value="{{.User.ApiKey}}"
                        class="form-control" readonly />
                </div>
                <form id="apiResetForm">
                    <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> Reset</button>
                    <input type="hidden" name="csrf_token" value="{{.Token}}" />
                </form>
            </div>
            <br />
            <form id="settingsForm">
                <div class="row">
                    <label for="username" class="col-sm-2 control-label form-label">Username:</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="username" value="{{.User.Username}}"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="current_password" class="col-sm-2 control-label form-label">Old Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="current_password" name="current_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="new_password" class="col-sm-2 control-label form-label">New Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="new_password" autocomplete="new-password"
                            class="form-control" />
                        <div class="hidden" id="password-strength-container">
                            <div class="progress" id="password-strength">
                                <div id="password-strength-bar" class="progress-bar" role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span id="password-strength-description"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="confirm_new_password" class="col-sm-2 control-label form-label">Confirm New
                        Password:</label>
                    <div class="col-md-6">
                        <input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
            </form>
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="twoFactorSettings">
            <br />
            <h3>Authenticator apps (TOTP)</h3>
            <p>Add Google Authenticator or another TOTP app. Once you add a method, a code is required every time you sign in.</p>
            {{if .User.TwoFactorRequired}}
            <div class="alert alert-info">Your administrator requires 2FA. You must keep at least one method. If you lose access to your authenticators, ask an administrator to reset your 2FA.</div>
            {{end}}
            {{if .User.TwoFactorMethods}}
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead><tr><th>Method</th><th>Type</th><th>Remove method</th></tr></thead>
                    <tbody>
                    {{range .User.TwoFactorMethods}}
                        <tr>
                            <td>{{.Name}}</td><td>Authenticator app (TOTP)</td>
                            <td>
                                {{if and $.User.TwoFactorRequired (eq (len $.User.TwoFactorMethods) 1)}}
                                <button class="btn btn-danger btn-sm" disabled title="Add another method before deleting this one"><i class="fa fa-trash-o"></i> Delete</button>
                                <span class="help-block">Keep at least one method.</span>
                                {{else}}
                                <form action="/settings/two_factor" method="POST" class="form-inline two-factor-delete-form">
                                    <input type="hidden" name="csrf_token" value="{{$.Token}}" />
                                    <input type="hidden" name="action" value="delete" />
                                    <input type="hidden" name="method_id" value="{{.ID}}" />
                                    <label class="sr-only" for="remove-password-{{.ID}}">Current password to delete {{.Name}}</label>
                                    <input id="remove-password-{{.ID}}" class="form-control input-sm" type="password" name="current_password" placeholder="Current password" autocomplete="current-password" required />
                                    <button class="btn btn-danger btn-sm" type="submit"><i class="fa fa-trash-o"></i> Delete</button>
                                </form>
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
            {{else}}<p class="text-muted">You haven't added an authenticator yet.</p>{{end}}
            <h4>Add authenticator</h4>
            <p>Confirm your password to start setup. The new method becomes active after you verify its first code.</p>
            <form action="/settings/two_factor" method="POST" class="form-inline">
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <input type="hidden" name="action" value="add" />
                <div class="form-group">
                    <label class="sr-only" for="two-factor-password">Current password</label>
                    <input id="two-factor-password" class="form-control" type="password" name="current_password" placeholder="Current password" autocomplete="current-password" required />
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add authenticator</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="uiSettings">
            <br />
            <div class="checkbox checkbox-primary">
                <input id="use_map" type="checkbox">
                <label for="use_map">Show campaign results map</label>
            </div>
        </div>
        <!-- Reporting Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="reportingSettings">
            <form id="imapForm" >
            <br />
            <div class="row">
                <div class="col-md-6">
                    Monitor an IMAP account for emails reported by users.
                </div>
             </div>
            <br />

            <div class="row">
                <div class="col-md-6">
                <div class="checkbox checkbox-primary">
                    <input id="use_imap" type="checkbox">
                    <label for="use_imap">Enable Email Account Monitoring</label>
                </div>
                </div>
             </div>
            <br />

            
            <div class="row">
                <label for="imaphost" class="col-sm-2 control-label form-label">IMAP Host:</label>
                <div class="col-md-6">
                    <input type="text" id="imaphost" name="imaphost" placeholder="imap.example.com"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapport" class="col-sm-2 control-label form-label">IMAP Port:</label>
                <div class="col-md-6">
                    <input type="text" id="imapport" name="imapport" placeholder="993"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imapusername" class="col-sm-2 control-label form-label">IMAP Username:</label>
                <div class="col-md-6">
                    <input type="text" id="imapusername" name="imapusername" placeholder="Username"
                        class="form-control" />
                </div>
            </div>
            <br />

            <div class="row">
                <label for="imappassword" class="col-sm-2 control-label form-label">IMAP Password:</label>
                <div class="col-md-6">
                    <input type="password" id="imappassword" name="imappassword" placeholder="Password" autocomplete="off"
                        class="form-control" />
                </div>
            </div>
            <br />


            <div class="row">
                <label for="use_tls" class="col-sm-2 control-label form-label">Use TLS:</label>
                <div class="col-md-6">
                    <div class="checkbox checkbox-primary">
                        <input id="use_tls" type="checkbox">
                        <label for="use_tls"></label>
                    </div>
                    
                </div>
            </div>

             <!-- Advanced Settings-->
            <div id="advancedarea" style="display: none;">
                <hr>
                <div class="row">
                <label for="folder" class="col-sm-2 control-label form-label">Folder:</label>
                    <div class="col-md-6">
                        <input type="text" id="folder" name="folder" placeholder="Leave blank for default of INBOX."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="folder" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="How often to check for new emails. 30 seconds minimum.">Polling frequency:</label>
                        <div class="col-md-6">
                            <input type="number" id="imapfreq" name="imapfreq" placeholder="Leave blank for default of every 60 seconds."
                                class="form-control" />
                        </div>
                    </div>
                    <br />
        
                <div class="row">
                    <label for="restrictdomain" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Only check emails reported from the supplied domain.">Restrict to domain:</label>
                    <div class="col-md-6">
                        <input type="text" id="restrictdomain" name="restrictdomain" placeholder="e.g. widgets.com. Leave blank for all domains."
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="ignorecerterrors" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Ignore common certificate errors such as self-signed certs (exposes you to MiTM attacks - use carefully!)">Ignore Certificate Errors:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="ignorecerterrors" type="checkbox">
                            <label for="ignorecerterrors"></label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="deletecampaign" class="col-sm-2 control-label form-label" data-toggle="tooltip" title="Delete campaign emails after they've been reported.">Delete campaigns emails:</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="deletecampaign" type="checkbox">
                            <label for="deletecampaign"></label>
                        </div>
                        
                    </div>
                </div>
                <br />
        
                <div class="row" id="lastlogindiv">
                <label for="lastlogin" class="col-sm-2 control-label form-label">Last succesful login:</label>
                <div class="col-md-6">
                    <input type="text" id="lastlogin" name="lastlogin" placeholder="Checking..." disabled
                        class="form-control border-0" />
                    </div>
                </div>
                <br />
                <input type="hidden" id="lastloginraw" name="lastloginraw" value="">

            </div>

            <div class="row">
                <label for="advancedsettings" class="col-sm-2 control-label form-label"></label>
                <div class="col-md-6 text-right">
                    <button class="btn-xs btn-link" id="advanced" type="button">Advanced Settings</button>
                </div>
            </div>

            <button class="btn btn-primary" id ="savesettings" type="button"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-primary" id="validateimap" type="button"><i class="fa fa-wrench"></i> Test Settings</button>


        </form>
        </div>
        <!-- Reporting Settings End -->
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/settings.min.js"></script>
{{end}}